
/* Fonts */
/* Catamaran */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Briyani */
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--briyani-font);
}
input{
  outline: none;
  
}

h1,h2,h3,h4,h5,h6,p,a,ul,ol{
margin: 0 !important;
}
a{
    text-decoration: none !important;
}
:root{
    --catamaran-font:'Catamaran', sans-serif;
    --briyani-font:'Biryani', sans-serif;
    --color-white:#ffffff;
    /* --bg-light-green:#D8E6E6; */
    --bg-light-green:#d6e9fa;
    --color-black:#000000;
    --little-gray:#4d4d4d;
    --little-green:#E6F7F8;
    --bg-light-blue:#E6F7F8;
    --color-navy-blue:#1977cc;
}
.container{
    width: 1300px;
}
.row{
    margin: 0;
}

img{
    width: 100% !important;
}

.section-padding{
    padding:80px 0;
}
/* Fonts */
.catamaran-font{
    font-family: 'Catamaran', sans-serif;
}
.briyani-font{
font-family: 'Biryani', sans-serif;
}
/* scrollbar */
::-webkit-scrollbar{width: 6px;}
::-webkit-scrollbar-thumb{background: var(--title-color); border-radius: 10px;}
::-webkit-scrollbar-track{background-color: #ffffff; box-shadow: 0px 1px 16px 1px rgba(0, 0, 0, 0.16);}


/* Navbar */
body .navbar{
    background-color: var(--little-green) !important;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
    height: 100px;
    position: sticky !important;
    top: -150px  !important;
    transition: .5s ease;
}
body .navbar.show{
  top: 0px  !important;
}
.navbar .navbar-nav .nav-link{
    font-family: var(--briyani-font);
    font-size: 13px;
    line-height: 16px;
    color: var(--little-gray);
    padding: 0 !important;
    position: relative;
    transition: .4s ease;
}
.nav-link::after{
    width: 0%;
    transition: .4s ease;
    content: "";
    position: absolute;
    top: 1rem;
    height: 3px;
    margin-right:auto ;
    display: block;
    background-color: var(--color-black);
    border-radius: 50px;
}
.navbar .navbar-nav .nav-link:hover.nav-link::after{
   
    width:100%;
}
.contact-btn .nav-link:after{
    display: none;
}

.navbar .navbar-nav .nav-link:hover{
    color: var(--color-black);
}

/* Navbar Contact Btn */
.navbar .navbar-nav .nav-item.contact-btn{
    transition: .4s ease;
    border: 2px solid var(--color-navy-blue);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .navbar-nav .nav-item.contact-btn:hover{
    background-color: var(--color-navy-blue);

}

.navbar .navbar-nav .nav-item.contact-btn .nav-link{
    padding: 12px 20px 8px !important;
    color: var(--color-navy-blue);
    transition: .4s ease;
}
.navbar .navbar-nav .nav-item.contact-btn .nav-link:hover{
    color: var(--color-white);
}

section{
    /* height: 100vh; */
    padding: 6rem 0 4rem;
}
.mini-title{
    text-transform: capitalize;
    font-weight: 800;
font-size: 22px;
line-height: 39px;
color: var(--color-black);
position: relative;
display: inline-block;
}
.mini-title::after{
    width: 100%;
    transition: .4s ease;
    content: "";
    position: absolute;
    top: 2rem;
    height: 3px;
    margin: 0 auto;
    display: block;
    background-color: var(--color-black);
    /* border-radius: 50px; */
}
.title{
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    text-transform: capitalize;
    color: var(--color-black);
    /* color: #2c4964; */
}
.description{
    font-size: 16px;
line-height: 28px;
text-transform: capitalize;
color: #3A3A3A;
}
.mask-clip-img{
    mask-repeat: no-repeat;
    mask-size:cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size:cover;
}
/* Hero */
.hero{
background-color: var(--bg-light-green);
height: 90svh;
padding: 4rem 0 4rem;
/* padding: 10rem 0 4rem; */
}
.hero .hero-banner{
    background-image: url(./images/hero_banner.png);
    background-repeat: no-repeat;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: 90% 100%;
    background-size: 650px;
}
.hero .hero-text{
    margin-bottom: 6rem;
}
.hero .hero-title{
    font-size: 48px;
    line-height: 70px;
}
.hero .hero-description{
    font-size: 18px;
    line-height: 30px;
}
.hero .gtouch{
    padding: 10px 20px 5px;
    background-color: var(--color-navy-blue);
    display: block;
    border-radius: 50px;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-white);
    transition: .4s ease;
    position: relative;
    z-index: 2;
    border: 1px solid transparent !important;
}
.hero .gtouch:hover{
    background-color: transparent;
    color: var(--color-navy-blue);
    border-color: var(--color-navy-blue) !important;

}
.hero .hero-numbers h2{
    font-weight: 700;
    font-size: 35px;
line-height: 50px;
color: var(--color-black);
}
.hero .hero-numbers p{
    font-weight: 700;
font-size: 14px;
line-height: 25px;
text-align: center;
width: 170px;
}
/* services */
.services-card{
    padding:20px 0;
}
.services-card-img{
    width: 80px;
}
.services .services-container{
    padding:80px 0;
    background-color: #E6F7F8;
    border-radius: 100px;
    color: #3A3A3A;
}
.services .description {
    margin: 0 auto 6rem !important;
}
.services .card-description{
    font-size: 18px;
line-height: 32px;
}

/* about */
.about{

}


.about .abt-img{
    mask-image: url(./images/about-clip-img.svg);
    -webkit-mask-image: url(./images/about-clip-img.svg);
}
.about .ab-tabs{
    border: none;
    column-gap: 2rem;
}
.about .ab-tabs .nav-link{
    font-weight: 700;
font-size: 16px;
line-height: 28px;
color: var(--little-gray) !important;
text-transform: capitalize;
border: none;
padding: 0;
position: relative;
}
.about .ab-tabs .nav-link.active{
    color: #FF5492 !important;
}
.about .ab-tabs .nav-link::after{
    width: 0%;
    transition: .4s ease;
    content: "";
    position: absolute;
    top: 1.5rem;
    height: 3px;
    margin-right: auto;
    display: block;
    background-color: transparent;
    border-radius: 50px;
}
.about .ab-tabs .nav-link.active::after{
    background-color: #FF5492;
    width: 100%;
}
.about .ab-tabs-content .ab-tabs-para{
    font-size: 16px;
line-height: 28px;
color: #3A3A3A;
}

/* review */
.review{

}
.review .mini-title.review-author::after{
    display: none !important;
}
.review .review-img{
    mask-image: url(images/review-clip-img.svg);
    -webkit-mask-image: url(images/review-clip-img.svg);
}

.review .review-slide-container .slick-dots{
    text-align: left !important;
}
.review .review-slide-container .slick-dots li button:before{
    font-size: 10px;
    bottom: -50px;
}

.review .review-text{
    position: relative;
}
.review .review-text .review-decor{
    width: 100px;
    position: absolute;
    right:0;
    bottom: 0;
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctors .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(63, 187, 192, 0.1);
  }
  
  .doctors .member .member-img {
    position: relative;
    overflow: hidden;
  }
  
  .doctors .member .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .doctors .member .social a {
    transition: color 0.3s;
    color: #555555;
    margin: 0 10px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .doctors .member .social a i {
    line-height: 0;
  }
  
  .doctors .member .social a:hover {
    color: #3fbbc0;
  }
  
  .doctors .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
  .doctors .member .member-info {
    padding: 25px 15px;
  }
  
  .doctors .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #555555;
  }
  
  .doctors .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
  }
  
  .doctors .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
  }
  
  .doctors .member:hover .social {
    opacity: 1;
  }

/* founders */
.founders{
    
}
.founders .founders-container{
    column-gap: 5rem;
}
.founders .founder-quote-title{
    font-weight: 600;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: flex-start;
column-gap: 20px;
}
.founders .founder-quote-title::before{
content: "";
height: 25px;
min-width: 25px;
/* margin-top: .1rem; */
background-image: url(images/bullet-decor.svg);
background-repeat: no-repeat;
background-size: cover;
}
.founders .founder-quote-container .description{
    padding-left: 45px;
}


/* doctor-quotes */
.doctor-quotes{
    display: flex;
    align-items: center;
    justify-content: center;
background-color: var(--bg-light-green);
padding-bottom: 0 !important;
padding-top: 60px;
}
.doctor-quotes .container .row{
/* border: 10px solid var(--title-color); */
/* background-color: #E6F7F8; */
/* height: 485px; */
border-radius: 50px;
/* padding: 40px 30px 0; */
}
.doctor-quotes-img{
position: relative;
}
.doctor-quotes-img img{
/* position: absolute; */
top: 0;
left: 0;
/* width: 80% !important; */
}
.doctor-quotes .sub-title{
    color: var(--title-color);
    text-transform: uppercase;
    font-size: 22px;
    line-height: 25px;
    font-family: var(--briyani-font);
}
.doctor-quotes .doctor-quotes-text .description{
color: var(--title-color);
line-height: 24px;
font-size: 16px;
}
.doctor-quotes .doctor-quotes-text .testimonial-name{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #2ABAC3;
}
.doctor-quotes .doctor-quotes-text .testimonial-place{
    color: #7D7D7D;
    font-size: 18px;
    line-height: 25px;
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    width: 100%;
    background: #fff;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #1977cc;
    float: left;
    width: 44px;
    height: 44px;
    background: #d6e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2c4964;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #4b7dab;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #1977cc;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #1c84e3;
  }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: #444444;
    font-size: 14px;
    background: #f1f7fd;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #1c84e3;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #1977cc;
  }
  
  #footer .footer-newsletter {
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
  }
  
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #1977cc;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
  }
  
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #1c84e3;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #444444;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #1c84e3;
    color: #fff;
    text-decoration: none;
  }
  

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
/* .faq .faq-list {
    padding: 0 100px;
  }
  
  .faq .faq-list ul {
    padding: 0;
    list-style: none;
  }
  
  .faq .faq-list li+li {
    margin-top: 15px;
  }
  
  .faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
  }
  
  .faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
  }
  
  .faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #76b5ee;
  }
  
  .faq .faq-list .icon-show,
  .faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .faq .faq-list .icon-show {
    display: none;
  }
  
  .faq .faq-list a.collapsed {
    color: #343a40;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: #1977cc;
  }
  
  .faq .faq-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .faq .faq-list a.collapsed .icon-close {
    display: none;
  } */


/* Media Quries */
@media screen and (min-width: 1400px){

}

@media screen and (min-width: 1200px) and (max-width: 1399.9px){
    .hero .hero-text {
        margin-bottom: 5rem;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199.9px){

    .hero .hero-banner {
        background-size: 645px;
        background-position: 95% 100%;
    }
    .hero .hero-title {
        font-size: 40px;
        line-height: 50px;
    }
    .hero .hero-numbers p {
        font-size: 12px;
        line-height: 15px;
        width: 120px;
    }
    .hero .hero-text {
        margin-bottom: 14rem;
    }
    .doctor-quotes{
        height: inherit;
    }
    .doctor-quotes .title{
        margin-bottom: 8px !important;
    }
    .doctor-quotes .sub-title{
        font-size: 1.3rem;
    }
      .faq .faq-list {
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.9px){
    .navbar .navbar-collapse{
        padding: 5rem 6rem !important;
    }
    .hero .hero-banner {
        background-size: 500px;
        background-position: 95% 100%;
    }
    .hero .hero-title {
        font-size: 36px;
        line-height: 45px;
    }
    .hero .hero-numbers h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .hero .hero-numbers p {
        font-size: 10px;
        line-height: 12px;
        width: 118px;
    }
    .hero .hero-text {
        margin-bottom: 5rem;
    }
    .doctor-quotes .container .row {
      height: inherit !important;
      flex-direction: column-reverse;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.9px){
    .navbar{
        height: 80px;
    }
    .navbar .navbar-brand{
        width: 80%;
    }
    .navbar .navbar-collapse{
        padding: 5rem 6rem !important;
        top: 80px !important;
    }
    .hero .hero-title {
     
    }
    .hero .hero-description {
        font-size: 16px;
    line-height: 25px;
    width: 50vw;
    }
    .hero .hero-banner {
        background-size: 400px;
    }
    .hero-container .hero-numbers-container {
        display: none !important;
    }
    .hero .hero-numbers p {

        font-size: 12px;
        line-height: 18px;
        width: 120px;
        margin: 0 auto !important;
    }
    .services-card-img{
        width: 100px;
    }
    /* .doctor-quotes .container{
        max-width: 90%;
    } */
    /* .doctor-quotes.section-padding{
        padding: 0px 0px 80px;
    } */
    .doctor-quotes .container .row{
        height: inherit !important;
        flex-direction: column-reverse;
    }
    .doctor-quotes .doctor-quotes-text{
        margin-bottom: 2rem;
    }
    .doctor-quotes-img img{
        position: inherit;
    }

}
@media screen and (max-width: 575.9px){
    .navbar{
        height: 80px;
    }
    .navbar .navbar-brand{
        width: 80%;
    }
    .navbar .navbar-collapse{
        padding: 2rem 1rem !important;
        top: 80px !important;
    }
    .hero .hero-title {
        font-size: 24px;
        line-height: 28px;
        width: 70%;
    }
    .hero .hero-description {
        font-size: 14px;
        line-height: 22px;
        width: 80%;
    }
    .hero .hero-numbers p {
        font-size: 10px;
        line-height: 14px;
        width: 100px;
    }
    .hero .hero-numbers h2 {
        font-size: 18px;
        line-height: 24px;
    }
    .hero-container .hero-numbers-container {
        display: none !important;
    }
    .hero .hero-banner {
        background-size: 100vw;
}
.title {

    font-size: 35px;
    line-height: 45px;

}
.description {
    font-size: 12px;
    line-height: 18px;
}
.services .services-container {
    margin: 0px ;
    border-radius: 30px ;
    padding: 30px 0;
}

section{

        padding: 1rem 0 1rem;

}
.services .description {
    margin: 0 auto 1rem !important;
}
.mini-title{
    margin-bottom: 1.5rem !important;
    font-size: 20px;
    line-height: 28px
}

.about .mini-title::after{
    top:2rem;
}
.about .row{
  margin: 0 -15px !important;
}
.doctor-quotes.section-padding{
    padding: 0px 0px 80px;
}
.doctor-quotes .container .row{
    height: auto;
    flex-direction: column-reverse;
   
    padding: 40px 0 0;

}
.doctor-quotes .doctor-quotes-text{
    margin-bottom: 2rem;
}
.doctor-quotes-img img{
    position: inherit;
}
.doctor-quotes .mini-title::after{
    top:1.5rem;
}
}
@media (min-width:320px) and (max-width:476.90px){
    .title {
        font-size: 22px;
        line-height: 35px;
    }
    .description {
        font-size: 11px;
        line-height: 18px;
    }
    .services-card-img {
        width: 60px;
    }
    .services .card-description {
        font-size: 14px;
        line-height: 18px;
    }
    /* .services .description {
        margin: 0 auto 2rem !important;
    } */
 .mini-title{
        font-size: 16px;
        line-height: 22px
    }
    
    .about .mini-title::after{
        top:1.5rem;
    }
}
@media screen and (max-width: 991.9px){
    .navbar-nav{
        row-gap: 2rem;
        justify-content: left;
    }
    .navbar-nav .nav-item{
        width:100%;
        /* border-bottom: 2px solid var(--color-black) !important; */
        pointer-events: none;
        border-bottom: 1px solid var(--color-white) !important;
    }
    .navbar .navbar-nav .nav-item.contact-btn{
        display: inline-block;
        border: none;
       border-radius: 0 !important;
     }
     .navbar .navbar-nav .nav-item .nav-link{
        /* margin-bottom: 1rem !important; */
      color: var(--color-white) !important;
      font-weight: 400 !important;
      pointer-events: auto;
    }
    .navbar .navbar-nav .nav-item .nav-link:active{
      color: var(--color-white);
    }
     .navbar .navbar-nav .nav-item.contact-btn .nav-link{
        padding: 0 !important;
        
    }
    .navbar .navbar-nav .nav-item.contact-btn .nav-link:after{
      display: none;
    }
    .navbar .navbar-collapse{
        padding: 5rem 10rem;
    position: fixed;
    top: 100px;
    right: -100%;
    height: 100% !important;
    width: 100%;
    /* width: 40%; */
    /* background-color: #88f3f9; */
    background-color: var(--color-navy-blue);
    transition: .5s ease;
    }
    
    .navbar .navbar-collapse.show{
        right: 0%;
    }

    .review .row{
        flex-direction: column-reverse;
    }
    
    .founders .founders-container{
        flex-direction: column;
        column-gap:0 ;
        row-gap: 2rem;
        margin-bottom: 3rem;
    }

}
@media screen and (max-width: 767.9px){
  .hero .gtouch{
    pointer-events: none;
  }
    .about .abt-img{
        margin-bottom: 2rem;
    }
    .review .review-text .review-decor{
        width: 50px;
        position: absolute;
        right:0%;
        bottom: 0;
        transform: translate(-50%,50%);
    }

}

/* @media (max-width: 1200px) {
    .faq .faq-list {
      padding: 0;
    }
  } */